<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="img/404-error.jpg" alt="error">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To Devanshu Technical World.</p>
                        <h1>{{erromessage}}.</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                    <!--right side div-->

                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    {{>footer}}
    {{>scriptLinks}}
</body>

</html>